@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body{
    margin: 0;
}
* {
    text-align: center;
    font-family: 'Jost', sans-serif;
}
header {
    background-color: #B2BEB5 !important;
}
header img{
    border-radius: 50%;
}
header h2{
    font-size: 27px;
    margin: 0;
    padding: 30px 0px;
}
header h4 {
    font-size: 24px;
    margin: 30px 0px 0px 0px;
}
header p {
    font-size: 20px;
    margin: 10px;
    padding-bottom: 20px;
}
#music {
    background-color: #B2BEB5;
}
#music .head {
    padding: 30px 0px;
    margin: 0;
}
.music-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}
video {
    padding-bottom: 20px;
}
.music-card img{
    border-radius: px;
    margin-bottom: 0px;
    margin-top: 10px;
    border-radius: 5px 5px 0px 0px;
}
audio {
    width: 400px;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
}
.title {
    margin: 0;
    background-color: #fff;
    width: 400px;
}
.title h2 , .title h4{
    margin: 2px;
}
.title h4{
    margin-bottom: 8px;
}